.category-tabs{
  margin:1rem auto;
  width:$page-content-width;
  font-size: 1.5rem;
  font-weight: 500;
  // line-height: 4rem;
  @include clearfix;
}
.category {

  &__non-active{
    width:6rem;
    text-align: center;
    border-bottom:.3rem solid transparent;
    transition: all .2s;
    color:$color-white;
    display:inline-block;
    transition:all .3s;
    &:hover {
      border-bottom: .3rem solid $color-blue;
      color:$color-primary-orange;
    }
  }
  &__active{
    width:6rem;
    text-align: center;
    border-bottom:.3rem solid $color-blue;
    // color:$color-primary-orange;
    display:inline-block;
  }
}

.page-width{
  width:$page-content-width;
  margin:2rem auto;

}
