.category-tabs{
  width:95%;
  max-width:70rem;
  font-size: 1.5rem;
  font-weight: 500;
  align-self: center;
  line-height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.category {

  &__non-active{
    width:6rem;
    text-align: center;
    border-bottom:.3rem solid transparent;
    transition: all .2s;
    color:$color-white;
    display:inline-block;
    transition:all .3s;
    &:hover {
      border-bottom: .3rem solid $color-blue;
      color:$color-primary-orange;
    }
  }
  &__active{
    width:6rem;
    text-align: center;
    border-bottom:.3rem solid $color-blue;
    display:inline-block;
  }
}

.page-width{
  width:95%;
  max-width:70rem;
  align-self: center;
  margin: 1.5rem 0;
}
