.category-tabs{
  margin:1rem auto;
  width:$page-content-width;
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  @include clearfix;
}
.category {
  width:20%;
  text-align: center;
  border-bottom:.3rem solid transparent;
  transition: all .2s;
  color:$color-grey-light;
  display:inline-block;
}

.category:hover {
  border-bottom: .3rem solid $color-blue;
  color:$color-white;
}
