.sort{
  display:inline-block;
  float:right;
  &-menu {
    font-size: 1.5rem;
    font-family: inherit;
    color:$color-white;
    background-color: transparent;
    border-radius: 1.5rem;
    outline:none;
  }
}
