*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #222; }

a {
  text-decoration: none;
  outline: none;
  color: #777777; }
  a:hover {
    color: #ff5252; }

.icon-clickable {
  cursor: pointer;
  transition: all .2s; }
  .icon-clickable:hover {
    color: #ff5252; }

.MdAccountCircle {
  font-size: 4.7rem;
  display: inline-block;
  float: left;
  margin-right: .5rem; }

.MdMoreVert {
  font-size: 2.4rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.header-title {
  letter-spacing: .6rem;
  font-weight: 600; }

.add-comment {
  margin: 2rem auto;
  width: 60%;
  content: "";
  display: table;
  clear: both; }

.comment {
  float: right; }
  .comment__input {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    font-family: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    margin-right: 1rem;
    border-radius: 10px; }
    .comment__input:focus {
      outline: none;
      border-bottom: 3px solid dodgerblue; }
    .comment__input:focus:invalid {
      border-bottom: 3px solid #ff5252; }

.btn {
  font-size: 1.5rem;
  font-family: inherit;
  background: transparent;
  color: #777777;
  border-radius: 10px;
  padding: .5rem 1rem;
  transition: all .2s; }
  .btn:hover {
    font-size: 1.7rem;
    color: #fff; }
  .btn:focus {
    outline: none; }

.post-card {
  margin: 1rem auto;
  width: 60%;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #2e2d2b;
  color: #fff; }
  .post-card__category {
    border-bottom: 1px solid #777777; }
  .post-card__details {
    margin: 1rem 0;
    width: 100%;
    content: "";
    display: table;
    clear: both; }
  .post-card__user {
    display: inline-block;
    float: left; }
  .post-card__user-log {
    display: inline-block;
    float: right; }
  .post-card__timestamp {
    color: #777777;
    font-size: 1.2rem; }
  .post-card__controls {
    visibility: hidden;
    display: inline-block;
    float: right;
    height: 4.7rem;
    margin-right: 1rem;
    color: #777777; }
    .post-card__controls:hover {
      color: #ff5252;
      transition: all .2s ease-in; }
  .post-card__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff5252; }
  .post-card__body {
    margin-bottom: 1rem; }
  .post-card__popularity {
    width: 100%;
    content: "";
    display: table;
    clear: both; }
  .post-card__votes {
    display: inline-block;
    color: #777777;
    float: left; }
  .post-card__comments {
    display: inline-block;
    float: right; }
  .post-card:hover .post-card__controls {
    visibility: visible;
    transition: all .2s ease-in; }

.category-tabs {
  margin: 1rem auto;
  width: 60%;
  font-size: 1.5rem;
  font-weight: 500;
  content: "";
  display: table;
  clear: both; }

.category__non-active {
  width: 6rem;
  text-align: center;
  border-bottom: .3rem solid transparent;
  transition: all .2s;
  color: #fff;
  display: inline-block;
  transition: all .3s; }
  .category__non-active:hover {
    border-bottom: 0.3rem solid dodgerblue;
    color: #ff5252; }

.category__active {
  width: 6rem;
  text-align: center;
  border-bottom: 0.3rem solid dodgerblue;
  display: inline-block; }

.page-width {
  width: 60%;
  margin: 2rem auto; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 60%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(30, 144, 255, 0.1);
    border-bottom: 3px solid dodgerblue; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff5252; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__select {
  display: block;
  font-size: 1.5rem;
  padding: 20rem 2rem;
  font-family: inherit;
  border: none; }
  .form__select:focus {
    outline: none; }

.form__textarea {
  width: 60%;
  height: 20rem;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  display: block;
  border-bottom: 3px solid transparent;
  margin-bottom: 2rem; }
  .form__textarea:focus {
    outline: none;
    border-bottom: 3px solid dodgerblue; }
  .form__textarea:focus:invalid {
    border-bottom: 3px solid #ff5252; }

.form__submit {
  font-size: 1.5rem;
  background: dodgerblue;
  color: white;
  border: none;
  padding: 1rem 1.5rem; }
  .form__submit:hover {
    font-size: 2rem; }
  .form__submit:focus {
    outline: none; }

.error__msg {
  border: 3px solid #ff5252;
  border-radius: 3px;
  width: 60%;
  margin-bottom: 2rem;
  text-align: center; }

.post-form {
  max-width: 70rem;
  margin: 2rem auto; }

.page-mode {
  margin-bottom: 2rem; }

.sort {
  display: inline-block;
  float: right; }
  .sort-menu {
    font-size: 1.5rem;
    font-family: inherit;
    color: #fff;
    background-color: transparent;
    border-radius: 1.5rem;
    outline: none; }

.header {
  height: 6.4rem;
  text-align: center;
  border-bottom: 1px solid #777777; }

.default-post {
  margin: 0 3rem; }

.post-details {
  margin: 0 3rem; }
